body {
  background-color: #000;
}
.container {
   text-align: center;
}

.block {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input {
  
  cursor: pointer;
  font-size: 22px;
}
.div1 {
  margin-right: 15px;
  float: left;
}
.div2 {
  margin-left: 15px;

  float: left;
}